*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100vw;
    height: 12vh;
    position: fixed;
    z-index:2;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.menuitem{
    width: 100%;
    height: 100%;
    font-size: 2rem;
    display: grid;
    place-items: center;
    border-right: 1px solid black;
    border-left: 1px solid black;

    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.menuitem:hover{
    border-bottom: 6px solid grey;
    border-top: 6px solid grey;
    border-left: 6px solid grey;
    border-right: 6px solid grey;
    font-size: 2.4rem;
}

.menuitem.active{
    border-bottom: 6px solid red;

}

.page{
    background-color: orange;
    top:0;
    left:-100vw;

    position: fixed;
    width:100vw;
    height:100vh;
    display:grid;
    place-items: center;
    transition: 0.4s all ease-in-out;
}

.visible{
    left:0;
}

.box{
    width: 80%;
    height:80%;
    display:grid;
    place-items: center;
    border: 1px solid white;
    position: relative;
}

.absolute{
    position:absolute;
    top:2rem;
    right: 2rem;
    font-size: 2rem;
    color: white;
}

.fixed{
    position: fixed;
    top: 2rem;
    right: 2rem;
    left: 2rem;
    color:rgb(86, 106, 215);
    font-size: 4rem;
    font-variant: small-caps;
    text-shadow: 4px 4px purple;
}

#imagebox{
    background-image: url(Assets/istockphoto-1415172922-170667a.webp);
    background-size: cover;
    background-position: center center;
    color: black;
}

.halfbox{
    grid-template-columns: 1fr 1fr;
}

#rightimage{
    width: 100%;
    height: 100%;
    background-image: url(Assets/Large_breaking_wave.jpg);
    background-size: cover;
}

#page1{
    background-color: lightskyblue;
}
#page2{
    background-color: hotpink;
}
#page3{
    background-color: lightgreen;
    grid-template-columns: 4fr 2fr 1fr;
}

#page3 div{
    width: 100%;
    height: 100%;
}

#page4{
    background-color: lightcoral;
}

h1{
    font-family: Raleway;
    color: white;
}