*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page{
    background-color: orange;
    top:0;
    left:-100vw;

    position: fixed;
    width:100vw;
    height:100vh;
    display:grid;
    place-items: center;
    transition: 0.4s all ease-in-out;
}

.visible{
    left:0;
}

.box{
    width: 80%;
    height:80%;
    display:grid;
    place-items: center;
    border: 1px solid white;
}

#imagebox{
    background-image: url(Assets/istockphoto-1415172922-170667a.webp);
    background-size: cover;
    background-position: center center;
    color: black;
}

.halfbox{
    grid-template-columns: 1fr 1fr;
}

#rightimage{
    width: 100%;
    height: 100%;
    background-image: url(Assets/Large_breaking_wave.jpg);
    background-size: cover;
}

#page1{
    background-color: lightskyblue;
}
#page2{
    background-color: hotpink;
}
#page3{
    background-color: lightgreen;
    grid-template-columns: 4fr 2fr 1fr;
}

#page3 div{
    width: 100%;
    height: 100%;
}

#page4{
    background-color: lightcoral    ;
}

h1{
    font-family: Raleway;
    color: white;
}